
<div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
    <div class="logo"><a href="." class="simple-text logo-normal">
        Pizza
      </a></div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="nav-item " [ngClass]="currentUrl === '/dashboard' ? 'active' : ''">
          <a class="nav-link" routerLink='/dashboard'>
            <i class="material-icons">dashboard</i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-item" [ngClass]="currentUrl === '/order' ? 'active' : ''">
          <a class="nav-link" routerLink='/order'>
            <i class="material-icons">receipt</i>
            <p>Orders</p>
          </a>
        </li>
        
      </ul>
    </div>
  </div>
<router-outlet></router-outlet>



